.footer__wrapper
  max-width: 1413px
  padding-top: 50px
  padding-bottom: 40px
  // padding-left: 10px
  // padding-right: 10px
  width: 100%
  margin: 0 auto
  display: flex
  justify-content: space-between

.footer-logo
  width: 20%
  // padding-left: 20px

  svg
    width: 52px
    height: 52px
    fill: $blue

.footer-logo__name,
.footer-logo__text
  text-decoration: none

.partition
  width: 45%
  margin-left: auto
  // margin-left: 147px

.address
  width: 32%
  margin-left: auto

.socials-list
  display: flex
  list-style: none
  padding: 0
  margin-top: 20px
  margin-right: 20px

.partition-list
  display: block
  column-count: 2
  column-gap: 65px
  break-inside: avoid
  padding: 0
  margin: 0
  margin-top: 34px
  list-style: none

.partition-list__item
  margin: 0
  margin-bottom: -3px

.partition-list__second
  margin-left: auto
  width: 205px

.partition-list__first
  width: 260px

.partition__title,
.address__title
  margin: 0
  font-family: Roboto Condensed
  font-style: normal
  font-weight: normal
  font-size: 15px
  line-height: 16px
  letter-spacing: 0.05em
  text-transform: uppercase
  color: $dark-grey
  margin-bottom: 22px

.partition-list__name,
.address__address,
.address__phone
  font-style: normal
  font-weight: normal
  font-size: 15px
  line-height: 26px
  letter-spacing: 0.03em
  text-decoration: none
  opacity: 0.5
  color: #1B2D37

.address__address
  margin-bottom: 0

.address__phone
  width: 55%

  a
    text-decoration: none
    color:  #1B2D37
    opacity: 1
    transition: opacity
    transition-duration: 0.2s
    transition-timing-function: ease-in-out
    transition-delay: 0s

    &:hover,
    &:active,
    &:focus
      color: $blue
      opacity: 0.7

.partition-list__name
  // opacity: 1
  transition: opacity
  transition-duration: 0.2s
  transition-timing-function: ease-in-out
  transition-delay: 0s

  &:hover,
  &:active,
  &:focus
    color: $blue
    opacity: 0.7

.footer-logo__name
  margin: 0
  font-family: Roboto Condensed
  font-style: normal
  font-weight: bold
  font-size: 25px
  line-height: 29px
  color: $dark-grey
  text-decoration: none

.footer-logo__text
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 12px
  line-height: 14px
  color: $light-grey
  margin: 0
  text-decoration: none

.footer-logo__wrapper
  margin-bottom: 54px
  margin-top: 20px
  display: flex

  a
    text-decoration: none
    margin-left: 15px

.copyright-list
  display: flex
  padding: 0
  width: 100%
  align-items: flex-start
  list-style: none
  font-style: normal
  font-weight: normal
  font-size: 13px
  line-height: 24px
  letter-spacing: 0.04em
  text-transform: uppercase
  color:  #1B2D37
  opacity: 0.5

.copyright-list__link
  text-decoration: none
  color:  #1B2D37

  &:hover
    opacity: 0.3

.socials-list__link
  svg
    width: 27px
    height: 27px

.socials-list__item
  margin-right: 15px
  opacity: 1
  transition: opacity
  transition-duration: 0.2s
  transition-timing-function: ease-in-out
  transition-delay: 0s

  &:hover
    opacity: 0.6


.footer__copyrights
  border-top: 1px solid #dedcdc

.copyrights
  padding: 0

.wrap-partition
  display: flex
  margin-top: 10px
  margin-left: 15px
  // margin-right: 20px

.copyright-list__tablet
  display: none

.last
  margin-left: auto !important

.copyright-list__item
  &:nth-child(2n)
    margin-left: 73px
    color:  #1B2D37

  &:nth-child(3n)
    margin-left: 140px

.tablet-copyright
  display: none

@media screen and (max-width: 1023px)
  .footer__wrapper
    position: relative
    flex-direction: column
    padding-top: 5px
    padding-bottom: 0

  .copyright-list__desktop
    display: none

  .copyright-list
    padding: 0
    margin: 0

  .footer-logo
    display: flex
    flex-direction: row
    width: 100%
    padding-left: 20px

  .footer-logo__wrapper
    width: 30%
    // margin: 0

  .socials-list
    width: auto
    margin: 0
    margin-left: 80px
    margin-top: 25px

  .partition-list
    display: block
    column-count: 1
    column-gap: 65px
    break-inside: avoid
    padding: 0
    margin: 0
    list-style: none

  .wrap-partition
    display: flex
    margin: 0 auto
    padding-bottom: 40px

  .partition
    width: 47%

  .address
    min-width: 365px
    // margin-left: auto
  
  .address__phone
    width: 53%

  .partition__title,
  .address__title
    margin-bottom: 28px

  .tablet-copyright
    margin: 0
    margin-left: 80px
    margin-top: 30px
    display: block
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 24px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: $dark-grey
    opacity: 0.5
    text-align: center

  .tablet-hide
    display: none

  .copyrights
    padding-left: 10px
    padding-right: 10px

  .partition-list__item
    margin-bottom: 0

  .partition-list__second
    margin-left: 0

@media screen and (max-width: 767px)
  .footer
    padding-top: 45px

  .menu-closed
    display: none

  .partition-list
    display: none
    padding-left: 25px

  .menu-opened
    display: block

  .footer__wrapper
    padding-left: 0
    padding-right: 0
    // padding-top: 50px

  .footer-logo
    display: flex
    flex-direction: column
    width: 100%
    padding-bottom: 50px
    padding-left: 0

  .address__phone
    width: 65%
    padding-left: 15px

  .footer-logo__wrapper
    width: auto
    margin: 0 auto
    margin-bottom: 25px
    // margin: 0

  .socials-list
    width: 33%
    margin: 0 auto

  .socials-list__item
    margin-right: 16px

  .wrap-partition
    max-width: none
    width: 100%
    padding-bottom: 26px
    margin: 0 auto
    display: flex
    flex-direction: column
    // margin: 0

  .partition
    position: relative
    width: 100%
    min-width: 280px
    margin: 0 auto
    border-top: 1px solid #dedcdc
    border-bottom: 1px solid #dedcdc

  .partition__title,
  .address__title
    position: relative
    margin-top: 29px
    padding-left: 15px
    // padding-right: 15px

  .address__title
    margin-top: 30px

  .partition__title
    margin-top: 26px

  .address
    position: relative
    width: 100%
    min-width: 280px
    margin: 0 auto

  .address__address
    width: 80%
    padding-left: 15px
    margin-top: 30px
    margin-bottom: 0

  .copyright-list
    width: 70%
    display: flex
    padding: 0
    flex-direction: column
    margin: 0 auto

  .tablet-copyright
    margin-left: 0
    margin-top: 0
 
  .tablet-hide
    display: none

  .footer__copyrights
    padding-bottom: 28px
    padding-top: 10px

  .copyrights
    padding-top: 20px

  .copyright-item
    margin-bottom: 30px

  .copyright-list__item
    margin-bottom: 20px
    align-self: center

  .copyright-list__item
    &:nth-child(2n)
      margin-left: 0
    
    &:nth-child(3n)
      margin-left: 0

  .last
    margin-left: 0 !important

