.page-main__wrapper
  margin-left: auto
  margin-right: auto
  padding: 0
  max-width: 1200px

@media screen and (max-width: 1023px)
  .page-main__wrapper
    padding-right: 10px
    padding-left: 10px
    // max-width: 720px

@media screen and (max-width: 767px)
  .page-main__wrapper
    padding-right: 10px
    padding-left: 10px
    // max-width: 290px
    margin-left: auto
    margin-right: auto